// COLORS
$color-primary: #2998ffb4;
$color-primary-light: #2998ff;
$color-primary-lighter: #57aaf8;
$color-primary-dark: #0e52b880;
$color-primary-darker: #0e52b8cc;

$color-secondary-light: #F4DB78;
$color-secondary-dark: #ff7730;
$color-secondary: #eb5e07b7;
$color-red: #eb0f07b7;
$color-red-light: #db424233;

$color-purple: purple;

$color-green: #0d8f01c7;
$color-green-light: #0ec18433;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-grey-light-1: #EDEEF1;
$color-grey-light-2: #edeef1c7;
$color-grey-light-3: #edeef167;
$color-grey-light-4: #cbcdd313;

$color-grey-darker: rgb(65, 65, 65);
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #495B53;

$color-white: #ffffff;
$color-whiteSmoke: #EDEEF1;
$color-black: #000;

// FONT
$font-size-sm: 1.6rem;
$font-size-md: 2.2rem;
$font-size-lg: 2.8rem;

