.dashboard-layout__menus {
	position: relative;
	height: calc(100vh - 20px);
	&-logo {
		height: 20px;
		margin: 20px;
		background: #e63da54d;
	}
}

.section_tow {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
}

.dashboard-layout__content {
	margin: 10px;
	padding: 10px;
}

.dashboard-layout__footer {
	position: fixed;
	bottom: 0;
	z-index: 99;
	width: calc(100% - 60px);
}
